body{
    font-family: "Helvetica Neue", Helvetica;
    background: #fff;
}

#header{
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    font: 14px;
    line-height: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#user{
    width: 480px;
    float: left;
    text-align: left;
}

#menu{
    width: 480px;
    float: right;
    text-align: right;
}

#gallery{
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    height: 600px;
    margin-top: 10px;
    position: relative;
    outline: 1px solid #000;
}

.form{
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    height: 600px;
    margin-top: 10px;
    position: relative;
    outline: 1px solid #000;
}

.form > div{
    padding: 30px;
}

.photo{
    position: absolute;
    top: 65px;
    left: 300px;
}

label {
    width: 8em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.submit input {
    margin-left: 12em;
}

img {
    width: 360px;
    overflow: hidden;
}